{
    "jsc": {
        "target": "es2022",
        "parser": {
            "syntax":"ecmascript",
            "jsx":true,
            "dynamicImport":true
        },
        "transform": {
            "react": {
                "runtime": "automatic",
                "refresh":true
            }
        }
    }
}